<!DOCTYPE html>
<meta charset="utf-8">
<title>editor</title>
<link rel="stylesheet" href="/css/editor.min.css">
<body>
  <h1>{{repoName}} : {{branch}} : {{path}}</h1>
  <div class="status">
    {{status}}
  </div>
  <form method="post" action="">
    <input type="hidden" name="sha" value="{{sha}}">
    <textarea placeholder="Commit message" name="commitMessage"></textarea>
    <br>
    <button type="submit">Save to GitHub</button>
    <br><br>
    <fieldset>
      <legend>yaml front matter</legend>
      <textarea name="yamlAsText">{{yamlAsText}}</textarea>
    </fieldset>
    {{#if markdownAsText}}
    <fieldset>
      <legend>markdown</legend>
      <textarea name="markdownAsText">{{markdownAsText}}</textarea>
    </fieldset>
    {{/if}}
  </form>
  <script src="/js/editor.min.js"></script>
