<!DOCTYPE html>
<meta charset="utf-8">
<title>editor</title>
<link rel="stylesheet" href="/css/editor.min.css">
<body>
  <h1>{{repoName}} ({{branch}})</h1>
  <h2>{{path}}</h2>

  {{#if status}}
    <div class="status">
      {{status}}
    </div>
  {{/if}}
  <textarea class="hidden" id="config" name="config">{{config}}</textarea>
  <form id="editorForm" method="post" action="">
    <input type="hidden" name="sha" value="{{sha}}">
    <fieldset>
      <legend>Front Matter</legend>
      <div id="frontmatter"></div>
      <textarea class="hidden" id="yamlAsText" name="yamlAsText">{{yamlAsText}}</textarea>
    </fieldset>
    {{#if markdownAsText}}
      <fieldset>
        <legend>Markdown Body</legend>
        <div id="body"></div>
        <textarea class="hidden" id="markdownAsText" name="markdownAsText">{{markdownAsText}}</textarea>
      </fieldset>
    {{/if}}
    <div>
      <textarea placeholder="Commit message" name="commitMessage"></textarea>
    </div>
    <div>
      <button type="submit">Commit to GitHub</button>
    </div>
  </form>
  <script src="/js/editor.min.js"></script>
